/*
Theme Name: Innovate-Theme
Author: Michael Yegypko
Version: 2.0
*/

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */


body{
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  letter-spacing: 0em;
  color: #202020;

}
.header{
  position: relative;
  max-width: 1920px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.header .header__logo{
  position: relative;

}
.header .header__logo img{
  position: absolute;
  top: 20%;
  margin-left: 50px;
}
.menu ul{
  display: flex;
  
  padding: 40px 50px;
  margin: 0;
  list-style-type: none;
}
.menu ul li {
  padding-left: 50px;
}
.menu ul li a{
  text-decoration: none;
  color: #202020;
}
.activeClass, .menu ul li a:hover{
  color: #5DADE2;
  font-weight: 700;
  text-decoration: underline;
}

.promo{
  min-height: 1078px;
  position: relative;
}
.promo__wrapper{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 100%;
  text-align: center;
}
.promo__icon{
  margin-bottom: 65px;
}


.advantages__wrapper{
  display: flex;
  justify-content: space-between;
}
.advantages__item{
  text-align: center;
  width: 33.3333%;
  box-shadow: 0px 4px 20px -5px  rgba(12,12,12,0.25);

}
.advantages__item img{
  margin-top: 30px;
}
.advantages__subtitle{
  font-size: 30px;
  font-weight: 700;
  line-height: 35px;
  letter-spacing: 0em;
  color: #1B4F72;
  text-transform: uppercase;
  padding-top: 22px;
  padding-bottom: 22px;
}
.advantages__descr{
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0em;
  padding-bottom: 30px;

}

/* slider */
.carousel{
  background: url(./img/background-slider.png) center center/cover no-repeat;
  background-color:#FBFBFB;
  display: flex;
}
.carousel .container{
  display: flex;
  max-width: 1170px;
  margin: auto;
  margin-top: 50px;
}
.carousel__slide{
  display: flex;
}

.slick-slide img{
  margin: auto;
}
.carousel .carousel__divider span {
  width: 64px !important;
}
.carousel .carousel__inner .carousel__slide .carousel__descr{
  width: 470px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 36px;
}
.carousel .carousel__inner .carousel__slide .carousel__descr .carousel__title{
  font-size: 30px;
  font-weight: 700;
  line-height: 35px;
  letter-spacing: 0em;
  padding-bottom: 30px;
  text-transform: uppercase;
  color: #5DADE2;
}
.carousel .carousel__inner .carousel__slide .carousel__descr .carousel__subtitle{
  font-size: 22px;
  font-weight: 500;
  line-height: 34px;
  letter-spacing: 0em;

}
.carousel .carousel__inner .carousel__slide .carousel__img{
  padding-left: 30px;
  padding-right: 30px;
  max-width: 570px;
}
.carousel .carousel__inner .carousel__slide .carousel__img img{
  height: auto;
  width: 100%;
}
.carousel .carousel__inner .carousel__slide{
  display: flex;
}
.carousel .carousel__divider {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.carousel .carousel__divider span{
  font-size: 25px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: center;
  color:#A5A5A5;
  padding-top: 25px;
  padding-bottom: 25px;
  border-right: 1px solid #D9D9D9;
  cursor: pointer;
}

.carousel .carousel__divider span:focus{
  outline: none;
}
span.slick-current{
  color: #5DADE2 !important;
  font-weight: 700 !important;
  border-right: 3px solid #5DADE2 !important;
}
.carousel__slide{
  width: auto !important;
}


/* contact form */
.contact {
  background-color:#FBFBFB;
  margin: auto;
}
.contact .contant__title-decor{
  font-size: 93px;
  font-weight: 700;
  line-height: 90px;
  letter-spacing: 0em;
  text-align: center;
  color: #ECF2F6;
  margin: 0;
}
.contact .contant__title{
  font-size: 40px;
  font-weight: 700;
  line-height: 35px;
  letter-spacing: 0em;
  text-align: center;
  color: #5DADE2;
  margin-top: -35px;
}
.contact .contact__form {
  text-align: center;
  width: 1169px;
  display: flex;
  justify-content: center;
  margin: auto;
  flex-direction: column;
}
.contact .contact__form p span .contact__name, .contact .contact__form p span .contact__email, .contact .contact__form p span .contact__tel, .contact .contact__form p span .contact__company{
  width: 45%;
  border: none;
  border-bottom: 1px solid #2874A6;
  padding: 0px 6px 3px 30px;
  outline: none;
  margin-top: 50px;
  margin-left: 25px;
  float: left;
}
.contact .contact__form span .contact__message{
  width: 96.2%;
  background: url(./icons/chat_1.png) no-repeat left center;
  border: none;
  border-bottom: 1px solid #2874A6;
  padding: 0px 6px 6px 30px;
  outline: none;
  margin-top: 50px;
  resize: none;
}
.contact .contact__form p .contact__send{
  font-size: 18px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: center;
  color: #FFFFFF;
  text-transform: uppercase;
  padding: 24px 84px 24px 84px;
  background-color: #5DADE2;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0px, 4px  rgba(55, 123, 169, 0.3);
  margin-top: 65px;
  margin-bottom: 130px;

}

.contact .contact__form p span .contact__name{
  background: url(./icons/social_1.png) no-repeat left center;
  margin-left: 0;
  margin-top: 73px;
}

.contact .contact__form p span .contact__email{
  background: url(./icons/envelopes_1.png) no-repeat left center;
}
.contact .contact__form p span .contact__tel{
  background: url(./icons/social_2.png) no-repeat left center;
  margin-left: 0;
}
.contact .contact__form p span .contact__company{
  background: url(./icons/home_2.png) no-repeat left center;
}
.hamburger{
  display: none;
}



@media (max-width: 1280px) {
  .menu ul{
    padding-top: 100px;
  }
  .menu ul li{
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
  }
}
@media (max-width: 767px){
  .carousel .carousel__inner .carousel__slide{
      flex-direction: column;
  }
  .slick-slide img{
      margin: 0;
  }
  .promo{
      top: 145px;
  }
  .header .header__logo img{
      margin-top: 20px;
  }
  .menu ul{
      display: none;
      position: fixed;
      top: 146px;
      width: 100%;
      height: 100vh;
      background-color: #FFFFFF;
      z-index: 1000;
      flex-direction: column;
      padding: 16px;
      left: 0;
      -webkit-box-shadow: inset -5px 4px 5px 0px rgba(0,0,0,0.3);
      -moz-box-shadow: inset -5px 4px 5px 0px rgba(0,0,0,0.3);
      box-shadow: inset -5px 4px 10px 0px rgba(0,0,0,0.3);

  }
  .menu_active ul{
      display: block;
  }
  .menu ul li{
      padding: 27px 17px 27px 17px;
      border-bottom: 1px solid #D9D9D9;
  }
  .menu ul li a{
      font-size: 15px;
      font-weight: 500;
      line-height: 24px;
      letter-spacing: 0em;
      text-align: left;
  }
  .menu ul li:last-child{
      border: none;
  }
  .hamburger{
      background: url(./icons/hamburger.png) no-repeat center;
      width: 24px;
      height: 24px;
      display: block;
      position: absolute;
      right: 16px;
      top: 50%;
      transform: translateY(160%);
  }
  .hamburger_active{
      background: url(./icons/close.png) no-repeat center;
  }
  .advantages__wrapper{
    flex-direction: column;
    padding-top: 147px;
  }
  .advantages__item{
    width: 100%;
  }
  .carousel .carousel__inner .carousel__slide .carousel__descr{
    display: none !important;
  }
  .contact .contact__form{
    display: flex;
    width: 100%;
  }
  input {
    width: 90% !important;
    margin-left: 25px !important;
    margin-right: 25px !important;
  }
}



/* new style 2022 */

/* about */

.about .container{
  max-width: 1920px;
  margin: auto;
}
.about .container .about__wrapper{
  display: flex;
  flex-direction: column;
  max-width: 1170px;
  margin: auto;
  margin-top: 50px;
   
}
.about .container .about__wrapper p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
}

.about .about__title-decor{
  font-size: 93px;
  font-weight: 700;
  line-height: 90px;
  letter-spacing: 0em;
  text-align: center;
  text-transform: uppercase;
  color: #ECF2F6;
  margin: 0;
}
.about .about__title{
  font-size: 40px;
  font-weight: 700;
  line-height: 35px;
  letter-spacing: 0em;
  text-align: center;
  color: #5DADE2;
  margin-top: -35px;
}
.about .container .about__wrapper .about__info{
  display: flex;
  flex-direction: row;
  margin-top: 65px;
  margin-bottom: 65px;
}
.about .container .about__wrapper .about__info .about__info__block{
  max-width: 269px;
  margin-left: 15px;
  margin-right: 15px;
  background: #FFFFFF;
  box-shadow: 0px 4px 20px rgba(192, 192, 192, 0.25);
  border-radius: 10px;
  padding-top: 30px;
  text-align: center;
}
.about .container .about__wrapper .about__info .about__info__block p{
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 30px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
  text-align: center;
}
.about .container .about__wrapper .about__info .about__info__block span{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 45px;
    text-align: center;
    text-transform: capitalize;
    color: #2874A6;
}
.about .about__shadow {
  position: relative;
  z-index: 1;
}
.about .about__shadow__circle{
  position: absolute;
  z-index: 2;
  width:230px;
  height:115px;
  background-color: white;
  border-radius:50% 50% 50% 50% / 0% 0% 100% 100%;
  box-shadow: 0px 10px 20px -5px rgb(12 12 12 / 25%);
  top: 123px;
  right: 50%;
  transform: translateX(50%);
}
.about .about__shadow__logo{
  position: absolute;
  z-index: 4;
  top: 121px;
  right: 50%;
  transform: translateX(50%);
}
.about .about__shadow__logo .img{
  display: flex;
  justify-content: center;
}
.about .about__shadow__rectangle {
  background-color: white;
  width: 100%;
  height: 160px;
  position: absolute;
  z-index: 3;
}
@media (max-width: 375px) {
  .about .container .about__wrapper .about__info .about__info__block p{
    font-size: 12px;
    line-height: 20px;
  }
  .about .container .about__wrapper .about__info .about__info__block span{
    font-size: 50px;
    line-height: 45px;
  }
  .about .container .about__wrapper .about__info{
    flex-direction: column;
  }
  .about .about__title-decor{
    font-style: normal;
    font-weight: bold;
    font-size: 27px;
    line-height: 30px;
  }
  .about .about__title{
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    margin-top: -17px;
  }
  .about .container .about__wrapper p{
    font-style: normal;
    font-size: 14px;
    line-height: 23px;
  }
  .about .container .about__wrapper{
    padding-left: 15px;
    padding-right: 15px;
  }
  .about .container .about__wrapper .about__info {
    align-items: center;
    margin-top: 30px;
    margin-bottom: 10px;
  }
  .about .container .about__wrapper .about__info .about__info__block{
    margin-bottom: 20px;
  }
  .hide_for-smal{
    display: none;
  }
  .about .about__shadow__rectangle {
    height: 38px;
  }
  .about .about__shadow__circle{
    width: 71px;
    height: 35.5px;
    top: 30px;
  }
  .about .about__shadow__logo{
    top: 22px;
  }
  .about .about__shadow__logo img{
    width: 24px;
    height: 27px;
  }
}

/* testimonial */

.testimonial{
  margin-top: 160px;
  background: #FBFBFB;
}
.testimonial .container{
  max-width: 1920px;
  margin: auto;
  padding-top: 181px;
  padding-bottom: 96px;
  box-shadow: 0px 10px 20px -5px rgba(12, 12, 12, 0.25) inset;
 
}
.testimonial .container .testimonial__bg{
  max-width: 1170px;
  margin: auto;
}
.testimonial .container .testimonial__wrapper{
  background: #5DADE2;
  border-radius: 10px;
  padding: 130px;
  position: relative;
   
}
.testimonial .container .testimonial__wrapper .quotes{
  position: absolute;
  z-index: 1;
  top: -5%;
  right: 50%;
  transform: translateX(50%);
}
.testimonial .container .testimonial__wrapper .testimonial__slider{
  text-align: center;
  background: #FFFFFF;
  box-shadow: 0px 0px 20px #438BBB;
  border-radius: 10px;
  
}
.testimonial .container .testimonial__wrapper .testimonial__slider .testimonial__slider__content{
  padding-left: 97px;
  padding-right: 97px;
  padding-bottom: 40px;
}
.testimonial .container .testimonial__wrapper .testimonial__slider .testimonial__slider__content h2{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  text-transform: uppercase;
  color: #2874A6;
  margin-top: 40px;

}
.testimonial .container .testimonial__wrapper .testimonial__slider .testimonial__slider__content span{
  font-family: 'Poppins';
  font-style: normal;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: bold;
}
.testimonial .container .testimonial__wrapper .testimonial__slider .testimonial__slider__content hr{
  width: 262px;
  border: 1px solid #2874A6;
  margin-top: 32px;
  margin-bottom: 32px;
}
.testimonial .container .testimonial__wrapper .testimonial__slider .testimonial__slider__content p{
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  color: #202020;
}
.testimonial .container .testimonial__wrapper .testimonial__slider .slick-prev{
  border: none;
  background-color: #5DADE2;
  position: absolute;
  bottom: -102px;
  left: 336px;
}
.testimonial .container .testimonial__wrapper .testimonial__slider .slick-next{
  border: none;
  background-color: #5DADE2;
  position: absolute;
  bottom: -102px;
  right: 336px;
}
.testimonial .container .testimonial__wrapper .testimonial__slider .slick-dots{
  list-style-type: none;
  display: flex;
  justify-content: center;
  position: absolute;
  left: 50%;
  padding-left: 0;
  transform: translateX(-50%);
  bottom: -112px
}
.testimonial .container .testimonial__wrapper .testimonial__slider .slick-dots .slick-active button{
  background: #FFFFFF;
  box-shadow: 0px 0px 10px #3D81AE;
}
.testimonial .container .testimonial__wrapper .testimonial__slider .slick-dots li{
  padding-left: 4px;
  padding-right: 4px;
}
.testimonial .container .testimonial__wrapper .testimonial__slider .slick-dots button{
  text-indent: -9999px;
  background: #5DADE2;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 5px;
  width: 26px;
  height: 9px;
}
@media (max-width: 375px){
  .testimonial{
    margin-top: 40px;
  }
  .testimonial .container {
    padding-top: 80px;
    padding-bottom: 80px;
    box-shadow: 0px 10px 7px -5px rgb(12 12 12 / 25%) inset;
  }
  .testimonial .container .testimonial__wrapper{
    padding: 72px 16px 94px 16px;
    border-radius: 0;
  }
  .testimonial .container .testimonial__wrapper .quotes{
    width: 92px;
    height: 92px;
    top: -2%;
  }
  .testimonial .container .testimonial__wrapper .testimonial__slider .testimonial__slider__content hr{
    width: 195px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .testimonial .container .testimonial__wrapper .testimonial__slider .testimonial__slider__content {
    padding-left: 21px;
    padding-right: 21px;
    padding-bottom: 15px;
  }
  .testimonial .container .testimonial__wrapper .testimonial__slider .slick-next img {
    width: auto;
    height: 24px;
  }
  .testimonial .container .testimonial__wrapper .testimonial__slider .slick-next {
    right: 86px;
    bottom: -68px
  }
  .testimonial .container .testimonial__wrapper .testimonial__slider .slick-prev img{
    width: auto;
    height: 24px;
  }
  .testimonial .container .testimonial__wrapper .testimonial__slider .slick-prev{
    left: 86px;
    bottom: -68px;
  }
  .testimonial .container .testimonial__wrapper .testimonial__slider .slick-dots{
    bottom: -85px;
  }
  .testimonial .container .testimonial__wrapper .testimonial__slider .slick-dots button{
    width: 18px;
    height: 7px;
  }
  .testimonial .container .testimonial__wrapper .testimonial__slider .testimonial__slider__content h2{
    font-size: 16px;
    margin-top: 35px;
  }
  .testimonial .container .testimonial__wrapper .testimonial__slider .testimonial__slider__content span{
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
  }
  .testimonial .container .testimonial__wrapper .testimonial__slider .testimonial__slider__content p{
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
  }
  
}


/* footer */

.footer{
  height: 509px;
  background: #1b4f72 url(./img/bg-footer.jpg) center center/cover no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items:center;
}
.footer .footer__logo{
  margin-top: 80px;
}
.footer .footer__contact{
  font-family: 'FontAwesome';
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 40px;
  text-align: center;
  color: #FFFFFF;

}
.footer .footer__social img{
  padding-left: 10px;
  padding-right: 10px;
}
.footer .footer__copi{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
  text-align: center;
  text-transform: capitalize;
  color: #FFFFFF;
}
@media (max-width: 375px) {
  .footer{
    height: 407px;
    background: #1b4f72 url(./img/bg-footer-small.jpg) center center/cover no-repeat;
  
  }
  .footer .footer__contact{
    margin-top: 40px;
    font-size: 16px;
    line-height: 32px;
    padding-left: 16px;
    padding-right: 16px;
  }
  .footer .footer__contact p {
    margin: 0;
  }
  .footer .footer__logo{
    margin-top: 40px;
  }
  .footer .footer__social {
    margin-top: 40px;
  }
  .footer .footer__copi {
    margin-top: 17px;
  }
}

@media (max-width: 375px){
  .menu ul{
    width: 92%;
    box-shadow: 0px 10px 7px -5px rgb(12 12 12 / 25%) inset;
  }
  .menu ul li{
    text-align: left;
    padding-left: 0;
  }
  .promo__icon__text img {
    height: auto;
    width: 340px;
  }
  .contact .contant__title-decor{
    font-size: 27px;
    line-height: 30px;
    text-transform: uppercase;
  }
  .contact .contant__title{
    font-size: 18px;
    line-height: 20px;
    text-transform: uppercase;
  }
  .contact .contact__form p span .contact__name, .contact .contact__form p span .contact__email, .contact .contact__form p span .contact__tel, .contact .contact__form p span .contact__company{
    margin-left: 10px !important;
    margin-right: 10px !important;
    width: 85% !important;
  }
  input{
    margin-left: 10px !important;
    margin-right: 10px !important;
    width: 85% !important;
  }
  ::placeholder{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    text-transform: capitalize;
    color: #97A8B3;

  }
  .contact .contact__form p span .contact__name{
    margin-top: 15px;
  }
}
